*{
   box-sizing: border-box;
}
body{
   margin: 0%;
   font-family: 'Times New Roman', Times, serif;
   background-color: rgb(10, 4, 26);
}
nav{
   background-color: #2e093a;
   color: aliceblue;
   text-align: center;
   width: 100%;
   padding: 25px;
   height: 100px;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.836);
   border-bottom: 5px solid #a73d95;
}
.header{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   padding-top: 100px;
}
#inf{
   flex: 40%;
   margin-left: 10%;
}
#inf h2{
   font-weight: 900;
   font-size: 40px;
   color: rgb(79, 52, 104);
   padding: 0%;
   margin: 0%;
}
#inf p{
   color: gray;
   text-align: left;
}
.contact-btn{
   display: inline-block;
   background: #FF2978;
   padding:20px;
   color:white;
   text-transform: uppercase;
   border-radius:5px;
   text-decoration: none;
}

.contact-btn:hover{
   background:#180F4A;
}
#foto{
   margin-right: 10%;
   flex: 40%;
   text-align: center;
   width: 250px;
}
#foto img{
   width: 300;
   box-shadow: 4px 4px 6px black;
   border-radius: 50%;
}
section{
   padding: 20px;
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 10%;
   color: white;
}
.card-row {
   display: flex;
   justify-content: space-between;
 }
 
 .card {
   width: 30%;
   height: 400px;
   border: 1px solid rgb(196, 10, 180);
   border-radius: 5px;
   margin-bottom: 5%;
   box-shadow: 2px 2px 4px rgb(191, 47, 196);
   text-align: center;
 }
 
 .card-image {
   width: 100%;
   height: 60%;
   overflow: hidden;
   
 }
 .ofuscar{
   filter: blur(3px);
 }
 
 .card-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 
 .card-content {
   padding: 10px;
 }
 .botao{
   padding: 10px;
   text-decoration: none;
   background-color: #2e093a;
   color: aliceblue;
 }
 footer{
   background-color: #2e093a;
   color: aliceblue;
   text-align: center;
   width: 100%;
   padding: 25px;
   height: 100px;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.836);
   border-top: 5px solid #a73d95;
}
 
 